<% if user_signed_in? %>
  <% if post.favorited_by?(current_user) %>
    <tr>
      <td>
        お気に入り解除
        <%= link_to post.favorites.count, post_favorites_path(post.id), method: :delete, remote: true %>
      </td>
    </tr>
  <% else %>
    <tr>
      <td>
        お気に入り登録
        <%= link_to post.favorites.count, post_favorites_path(post.id), method: :post, remote: true %>
      </td>
    </tr>
  <% end %>
<% else %>
  <tr>
    <td>お気に入り数： <%= post.favorites.count %></td>
  </tr>
<% end %>