<%# フォローボタン 部分テンプレート %>
<table>
  <tr>
    <td>
      フォロー数 : 
      <%= user.followings.count %>
    </td>
    <td>
      フォロワー数 : 
      <%= user.followers.count %>
    </td>
  </tr>
  <tr>
    <% if user.followed_by?(current_user) %>
      <td><%= link_to 'フォロー解除', user_relationship_path(user.id), method: :delete, remote: true %></td>
    <% else %>
      <td><%= link_to 'フォローする', user_relationship_path(user.id), method: :post, remote: true %></td>
    <% end %>
  </tr>
</table>