<%# ユーザーのフォロワー一覧画面 %>
<h2>
  "<%= @user.name %>" さんのフォロワー一覧
  全<%= @users.count %> 件
</h2>
<% @users.each do |user| %>
  <%= link_to user_path(user.id) do %>
    <div class="follow-user-wrapper">
      <%= render "users/info" , user: user %>
    </div>
  <% end %>
<% end %>