<%= form_for(genre, url: admin_genres_path) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <label>新規カテゴリー</label>
  <%= f.text_field :name %>
  <%= f.submit 'ジャンル追加' %>
<% end %>