<div class="admin-genres-edit-wrapper">
<h2>ジャンル編集</h2>
  <%= form_for(@genre, url: admin_genre_path(@genre.id)) do |f| %>
    <div class="admin-genres-edit-form">
      <p>ジャンル名</p>
    </div>
    <div class="admin-genres-edit-form">
      <%= f.text_field :name, size: "30x10" %>
    </div>
    <div class="admin-genres-edit-form">
      <%= f.submit '変更する' %>
    </div>
  <% end %>
  <div class="admin-genres-delete-button">
    <%= link_to '削除', admin_genre_path, method: :delete, data:{ confirm: "本当に削除しますか？ジャンル内の投稿も削除されます。"} %>
  </div>
</div>
