// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index
.admin-users-index-wrapper {
  margin: 1em;
  padding: 2em;
  border: 1px solid;
  background: #eee;
  border-radius: 12px;
}

.admin-users-index-border {
  border-bottom: 1px dashed;
  margin-bottom: 1em;
}

// show
.admin-users-show-wrapper {
  border: 1px solid;
  border-radius: 8px;
  background: #eee;
  padding: 20px;
}

.admin-users-show-edit-link {
  border: 1px solid #228b22;
  border-radius: 12px;
  background: #2e8b57;
  padding: 3px;
  width: 6em;
  text-align: center;
}
.admin-users-show-edit-link a {
  text-decoration: none;
  color: #98fb98;
}
.admin-users-show-edit-link a:hover {
  opacity: 0.6;
}

// edit
.admin-users-edit-wrapper {
  border: 1px solid;
  border-radius: 12px;
  margin: 1em;
  padding: 1em;
  background: #eee;

}

// _user_info
.admin-user-info-cell {
  width: 8em;
}