<div class="homes-top-title">
  <h1> 
    <i class="fas fa-home"></i>
    HOME
    <i class="fas fa-home"></i>
  </h1>
</div>

<div class="homes-top-contents">
  <div class="homes-top-row1">
    <div class="homes-top-image1"></div>
    <div class="homes-top-row1-text">
      <p>
        女性であれば、スカート。<br>
        <br>
        このスカートに合う服は<br>
        なんだろう。<br>
        <br>
        帽子は？ネックレスは？<br>
      </p>
    </div>
  </div>

  <div class="homes-top-row2">
    <div class="homes-top-row2-text">
      <p>
        シンプルなスニーカー。<br>
        <br>
        お洒落は足下から。<br>
        <br>
        みんなはどういう組み合わせをする？
      </p>
    </div>
    <div class="homes-top-image2"></div>
  </div>

  <div class="homes-top-row3">
    <div class="homes-top-image3"></div>
    <div class="homes-top-row3-text">
      <p>
        春にはこれ一枚。<br>
        <br>
        秋でも、冬でも。<br>
        <br>
        組み合わせの種類は無限大。<br>
        どう組み合わせよう。
      </p>
    </div>
  </div>
</div>
