<%# ユーザー新規登録後に遷移するページ %>

<h2>WelCome to My Fast Code!!</h2>

<%# 箱型に文字を入れて、背景は服の画像 %>
<div>
  <p>
    My Fast Codeにご登録いただき、ありがとうございます！
    まずは、ご自身のユーザー情報の編集を行いましょう！
    <br>
    ユーザー名を好きな名前にし、他のユーザーに覚えてもらいやすくしていきましょう！！
    また、アイコンや性別を設定し、認知してもらいやすくしていきましょう！
  </p>
</div>

<%# ボタンは大きめに作っておく %>
<div>
  <%= link_to '早速編集する', edit_user_path(current_user) %>
</div>