<%# カテゴリーの中の投稿一覧 %>
<h2>
<i class="fas fa-search-plus"></i>
  カテゴリー："<%= @genre.name %>" に関する投稿一覧
  <i class="fas fa-search-plus"></i>
</h2>

<% @genre_posts.each do |post| %>
  <%= render 'posts/list', post: post %>
<% end %>