/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

//  リセットCSS&全体につけるCSS
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration-line: underline;
}

img:hover {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

// アイコン
.user-icon {
  border-radius: 50%;
  border: 1px solid #6495ed;
  // background: #eee;
  // background-color: #eee;
}

.user-icon img {
  background: #eee;
}

// 画像クリックでプレビュー
.graydisplay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
}
.graydisplay img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 80%;
  object-fit: contain;
}

// ユーザー情報 性別
.user-is-sex-flag-man {
  border: 1px solid;
  border-radius: 8px;
  background: #0000cd;
  width: 3em;
  padding: 3px;
  color: #eee;
  text-align: center;
}

.user-is-sex-flag-woman {
  border: 1px solid;
  border-radius: 8px;
  background: #dc143c;
  width: 3em;
  padding: 3px;
  color: #eee;
  text-align: center;
}

// お問い合わせステータス色付け管理
.is_support_yet {
  color: red;
  border: 1px solid #000;
  border-radius: 8px;
  background: #666;
  width: 5em;
  padding: 3px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.is_support_doing {
  color: yellow;
  border: 1px solid #000;
  border-radius: 8px;
  background: #666;
  width: 5em;
  padding: 3px;
  text-align: center;
  margin-bottom: 0.5em;
}
.is_support_done {
 color: green;
 border: 1px solid #000;
 border-radius: 8px;
 background: #eee;
 width: 5em;
 padding: 3px;
 text-align: center;
 font-weight: bold;
 margin-bottom: 0.5em;
}

// エラーメッセージ 
.alert-warning {
  color: red;
  margin-bottom: 2em;
}

.alert-warning  li {
  list-style: none;
}


// お気に入り
.fav-count a {
  text-decoration: none;
}

.red_heart {
  color: red;
}

.no_heart {
  color: blue;
}

//  HEADER
header {
  width: 100%;
  height: 8em;
  border-bottom: 3px inset #595959;
  display: flex;
  position: fixed;
  background: #333;
}

.logo-title {
  font-size: 60px;
  margin: 0.5em auto;
  font-family: 'Lobster', cursive;
  color: #fff;
}

.logo-title a {
  color: #fff;
  text-decoration: none;
}

.logo-title a:hover {
  opacity: 0.5;
}


.header-contents:last-child{
  margin-right: 30px;
}

// コンテンツ内
.contents-space {
  width: 100%;
  height: 1em;
}

// サイドバー（メニューバー）
.side-bar {
  position: fixed;
  width: 20%;
  height: 10em;
  flex-direction: column;
  margin-left: 20px;
}

.fa-arrow-circle-up {
  font-size: 30px;
}

// サイドバー ページ上部へのツールチップ
#tips {
  position: relative;
}

.balloon {
  position: absolute;
  padding: 2px;
  width: 10em;
  left: 7em;
  top: -20em;
  font-size: 80%;
  color: #eee;
}

.open-balloon {
  position: absolute;
  padding: 2px;
  width: 10em;
  left: 7em;
  top: -2em;
  font-size: 80%;
  color: #eee;
}

.side-bar-contents {
  margin-left: 1em;
  margin-top: 2.5em;
  height: 2em;
  width: 10em;
  font-weight:bold;
  display:block;
  text-align:center;
}

.side-bar-contents-search {
  margin-left: 1em;
  margin-bottom: 2.5em;
  height: 2em;
  width: 10em;
  font-weight:bold;
  display:block;
  text-align:center;
}

.side-bar-contents:first-child {
  margin-top: 1em;
}

.side-bar-contents a {
  color: #ddd;
  text-decoration: none;
}

.side-bar-contents a:hover {
  color: #87cefa;
  opacity: 0.5;
}

// サイドバー カテゴリーの開閉
.side-bar-contents-genre {
  margin-left: 1em;
  margin-top: 1em;
  height: 2em;
  width: 10em;
  font-weight:bold;
  display:block;
  text-align:center;
}

.side-bar-contents-genre p {
  color: #ddd;
}

.side-bar-contents-genre p:hover {
  cursor: pointer;
  color: #87cefa;
  opacity: 0.5;
}

.side-bar-contents-genre a {
  text-decoration: none;
  list-style: none;
}

.side-bar-contents-genre-list {
  background: #333;
  width: 16em;
  position: absolute;
  left: -500px;
  // top: 1em;
  // left: 14em;
}

.side-bar-contents-genre-list-title {
  list-style: none;
  color: #87cefa;
}

.side-bar-contents-genre-list li:hover {
  color: #87cefa;
  opacity: 0.5;
}

// #aside_buttonがクリックされたら、side-bar-contents-genre-listをこの位置へ動かすopenクラス
.open {
  position: absolute;
  left: 14em;
  top: 0em;
}

.side-bar-contents-genre-list li {
  margin-top: 0.5em;
  color: #ddd;
}



// headerのposition:fixedで被らないように
.body-wrap {
  padding-top: 8em;
  background: #333;
}

body {
  width: 100%;
  margin: 0 auto;
  background: #333;
}

body a {
  color: #000;
}

.main {
  width: 70%;
  margin-top: 20px;
  margin-left: 16em;
  background: #ddd;
  padding: 30px;
  min-height: 600px;
}

// FOOTER
footer{
  margin-top: auto;
  background: #333;
  padding-top: 15px;
  width: 100%;
  height: 8em;
  border-top: 3px outset #595959;
  display: flex;
}

.footer-bk {
  background: #333;
  padding: 10px 0 0;
  height: 8em;
  width: 100%;
}

.footer-title {
  margin-right: auto;
  margin-left: auto;
  font-family: 'Lobster', cursive;
  color: #fff;
}


.footer-contents:last-child{
  margin-right: 30px;
}

// devise
.devise-wrapper {
  margin: 2em auto;
  padding: 3em;
  border: 1px solid #000;
  border-radius: 12px;
  background: #eee;
  text-align: center;
  width: 60%;
}

.devise-email {
  margin-top: 1em;
  margin-bottom: 1em;
}

.devise-password {
  margin-top: 1em;
  margin-bottom: 1em;
}

.devise-submit {
  margin-top: 1em;
  margin-bottom: 1em;
}


.devise-login-link {
  margin: 1em auto;
  padding: 1em;
  border: 1px solid #006400;
  border-radius: 12px;
  background: #008000;
  width: 18em;
  
}
.devise-login-link a {
  color: #eee;
  text-decoration: none;
}
.devise-login-link a:hover {
  opacity: 0.6;
}

.devise-signup-link {
  margin: 1em auto;
  padding: 1em;
  border: 1px solid #00008b;
  border-radius: 12px;
  background: #0000ff;
  width: 18em;
}

.devise-signup-link a {
  color: #eee;
  text-decoration: none;
}

.devise-signup-link a:hover {
  opacity: 0.6;
}

.google-login {
  margin: 1em auto;
  padding: 1em;
  border: 1px solid #ff0000;
  border-radius: 12px;
  background: #ff4500;
  width: 18em;
}

.google-login a {
  color: #eee;
  text-decoration: none;
}

.google-login a:hover {
  opacity: 0.6;
}

@media (min-width: 1024px) {

}