// Place all the styles related to the comment_favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index
.comment-favorites-wrapper {
  margin: 3em auto;
  width: 80%;
  border: 1px solid;
  border-radius: 8px;
  padding: 1em;
  background: #eee;
}

.comment-favorites-wrapper a:hover {
  text-decoration: none;
  opacity: 0.6;
}

.comment-favorites-title {
  margin-top: 1em;
  margin-bottom: 2em;
  text-align: center;
}

.comment-favorites-link a {
  color: blue;
}

