// Place all the styles related to the comment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-preview-wrapper {
  width: 15em;
}

.comment-preview {
  width: 23em;
  // height: 14em;
  // border: 1px solid;
}


.comment-submit-button {
  width: 28em;
  border-radius: 8px;
}

.comment-delete-button a {
  font-weight: bold;
  text-decoration: none;
  color: red;
  margin-left: 70%;
  border: 1px solid #222;
  border-radius: 8px;
  padding: 4px;
}

.comment-image {
  width: 20em;
  height: 12em;
  background: inherit;
}


.comment-delete-button a:hover {
  opacity: 0.6;
}
