// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ユーザー側

// 部分テンプレート list
.posts-list-table {
  width: 80%;
  margin-top: 30px;
  border: 1px solid #000;
  border-radius: 8px;
  margin-left: 3em;
}

.posts-wrapper {
  width: 80%;
  margin-top: 30px;
  border: 1px solid #000;
  border-radius: 8px;
  margin-left: 3em;
  background: #eee;
  padding: 30px;
}

.posts-wrapper a {
  color: blue;
  text-decoration: none;
}

.posts-user {
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.posts-title {
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.posts-body {
  margin: 10px auto;
  flex-wrap: wrap;
  overflow: hidden;
  width: 90%;
  height: 100px;
  border: 1px dashed ;
  border-radius: 8px;
  padding: 10px;
}

.posts-img {
  text-align: center;
  margin: 30px auto;
  width: 80%;
}

.posts-comments {
  margin-bottom: 1em;
  border-top: dotted;
  padding-top: 1em;
}

.posts-closed-on {
  color: rgba(161, 0, 0, 0.425);
  margin-bottom: 1em;
  padding-top: 1em;
}

.posts-category {
  margin-bottom: 1em;
  flex-wrap: wrap;
  overflow: auto;
  padding-top: 1em;
  width: 80%;
}

.posts-fav-list {
  margin-bottom: 1em;
  padding-top: 1em;
}

// show
.posts-body-show-wrap {
  margin: 10px auto;
  width: 90%;
  flex-wrap: wrap;
  border: 1px dashed ;
  border-radius: 8px;
  padding: 10px;
  word-wrap: break-word;
}

.posts-show-button {
  margin-left: 3em;
  margin-bottom: 3em;
}

.posts-show-comment-wrapper {
  margin: 20px auto;
  width: 80%;
}

.comment-form {
  width: 43em;
  border: 1px solid;
  padding: 1em 1em 1em 3em;
}

.posts-show-comments-area {
  margin-top: 2em;
  flex-wrap: wrap;
  overflow: scroll;
  width: 90%;
  border: 1px dashed ;
  border-radius: 8px;
  padding: 2em;
}

// new & _form.html.erb
.new-post-wrapper {
  width: 80%;
  margin: 30px auto;
  // background: white;
}

.new-post-image {
  text-align: center;
  margin-bottom: 2em;
}

.new-post-preview {
  width: 20em;
  height: 15em;
  margin: 0 auto;
  border: dashed;
  line-height: 15em;
}

#result {
  text-align: center;
}

.new-post-title {
  text-align: center;
  margin-bottom: 2em;
  margin-top: 2em;
}

.new-post-body {
  text-align: center;
  margin-bottom: 2em;
}

.new-post-genre {
  text-align: center;
  margin-bottom: 2em;

}

.new-post-closed-on {
  text-align: center;
  margin-bottom: 2em;
}

.new-post-date {
  width: 28em;
}

.new-post-submit {
  text-align: center;
}

.new-post-submit-button {
  width: 28em;
  background: rgb(248, 106, 106);
}


