// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.follow-button {
  border: 3px solid skyblue;
  background: #eee;
  border-radius: 12px;
  padding: 3px;
}

.follow-button a {
  text-decoration: none;
  color: deepskyblue;
}

.follow-button a:hover {
  opacity: 0.6;
}

.unfollow-button {
  border: 3px solid steelblue;
  background: royalblue;
  border-radius: 12px;
  padding: 3px;
}

.unfollow-button a {
  text-decoration: none;
  color: skyblue;
}

.unfollow-button a:hover {
  opacity: 0.6;
}

